html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

body {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto !important;
    padding: 0 !important;
    position: relative;
}