@mixin font($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

.root {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  height: auto;

  .userDataContainer {
    display: flex;
    gap: 15px;

    .profileHeader {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .sectionTitle {
        @include font(18px, 700);
        margin: 0;
      }

      .imageWrapper {
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 4px;

        .profileImage {
          object-fit: cover;
        }
      }
    }

    .contactData {
      display: flex;
      flex-direction: column;
      gap: 25px;
      margin-bottom: 25px;

      .infoGroup {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }

      .infoLabel {
        @include font(12px, 700);
        text-transform: uppercase;
        color: rgba(92, 106, 121, 1);
      }

      .infoValue {
        margin: 0;
        @include font(14px, 600);
      }
    }

    .actions {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .logoutButton {
        width: 176px;
        height: 45px;
        border: 1px solid var(--color-secondary);
        @include font(8px, 700);
        text-transform: uppercase;
        background-color: white;
        color: var(--color-secondary);
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
          background-color: var(--color-secondary);
          color: white;
        }
      }
    }
  }

  .userDataContainer:nth-child(1) {
    align-items: end;
  }

  .editButton {
    width: 176px;
    height: 45px;
    border: 1px solid rgba(76, 61, 178, 1);
    @include font(8px, 700);
    text-transform: uppercase;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: rgba(76, 61, 178, 0.05);
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 353px;
    height: 345px;
    background-color: rgba(255, 224, 226, 1);
    padding: 20px 30px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.45) 0 25px 20px -20px;
    margin-bottom: -150px;

    .infoLabel {
      @include font(12px, 700);
      text-transform: uppercase;
      color: rgba(92, 106, 121, 1);
    }

    .paragraph {
      @include font(12px, 600);
      color: rgba(92, 106, 121, 1);
      text-align: center;
    }
  }
}
