.root {
  display: flex;
  justify-content: center;
  gap: var(--space-10);
  width: 100%;
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 var(--space-4);
}

@media (max-width: 1024px) {
  .root {
    gap: var(--space-6);
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .root {
    padding: 0 var(--space-3);
  }
}