.mainContainer {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: white;
  position: sticky;
  z-index: 1;
  top: 0;
  width: 1122px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-self: center;
  gap: 70px;

    a {
      text-decoration: none;
      color: black;
    }

    h2 {
      display: inline-block;
    }
}