.root {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 250px;
  margin-top: 60px;
  margin-bottom: 90px;
  margin-left: 0;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 500;

  .categoriesList {
    padding: 0;

    li {
      display: flex;
      justify-content: left;
      list-style: none;
      padding: 10px 0 10px 0;
      cursor: pointer;
    }

    :hover {
      background-color: #ABB3BF;
    }
  }

  .chosenCategory {
    background-color: #ABB3BF;
    color: #DCE0E5;
  }
}

