$font-family: 'Montserrat', sans-serif;

@mixin font($font-size, $font-weight) {
  font-size: $font-size;
  font-weight: $font-weight;
}

  .header {
    background-color: white;
    position: sticky;
    z-index: 1;
    top: 0;
    width: 1200px;
    margin-left: 159px;

    .header_content-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      justify-self: center;
      width: 1120px;

      h2 {
        cursor: pointer;
      }

      .nav {
        @include font(10px, 700);
        text-transform: uppercase;
        display: flex;
        gap: 40px;

        a {
          text-decoration: none;
          color: black;

          :hover {
            color: #4C3DB2;
          }
        }
      }

      .account-actions-menu {
        position: relative;
        display: flex;
        gap: 42px;

        img {
          cursor: pointer;
        }

        .itemsNumber {
          display: none;
          position: absolute;
          background-color: #FF353A;
          border-radius: 50%;
          width: 13px;
          height: 13px;
          @include font(10px, 500);
          color: white;
          text-align: center;
          right: -4px;
          bottom: -4px;
        }
      }
    }
  }